        /* || GENERAL *********************************************************************************************************GENERAL**/
        
        html,
        body {
            background: black;
            color: black;
            font-family: ArtDecoFont;
            scroll-behavior: smooth;
            cursor: crosshair;
            user-select: none;
            margin: 0;
            padding: 0;
        }
        
        .shadow {
            position: fixed;
            display: block;
            transform: translate(-50%, -50%);
            filter: blur(20px);
            mask-image: radial-gradient(rgba(255, 228, 196, 0.5), rgba(255, 228, 196, 0));
            -webkit-mask-image: radial-gradient(rgba(255, 228, 196, 0.5), rgba(255, 228, 196, 0));
            animation: pulse 10s infinite;
            transition: 950ms ease-out;
            clip-path: circle();
        }
        
        #shadow1 {
            width: 1000px;
            height: 1000px;
            background: radial-gradient(red, black, transparent);
            animation: pulse1 10s infinite;
        }
        
        #shadow2 {
            width: 600px;
            height: 600px;
            background: radial-gradient(orange, transparent, transparent);
            animation-delay: 2s;
        }
        
        #shadow3 {
            width: 300px;
            height: 300px;
            background: radial-gradient(hotpink, transparent, transparent);
            animation-delay: 4s;
        }
        
        #shadow4 {
            width: 200px;
            height: 200px;
            background: radial-gradient(white, transparent, transparent);
            animation-delay: 6s;
        }
        
        svg {
            position: absolute;
            width: 0;
            height: 0;
        }