        /* || GENERAL *********************************************************************************************************GENERAL**/
        
        html,
        body {
            background: bisque;
            color: hotpink;
            font-family: ArtDecoFont;
            scroll-behavior: smooth;
            cursor: crosshair;
            user-select: none;
            margin: 0;
            padding: 0;
        }
        /* || SVG *****************************************************************************************************************SVG**/
        
        svg {
            position: fixed;
            display: block;
            filter: url("#f1");
            overflow: visible;
            width: 110vw;
            height: 110vh;
        }
        /* || ANIMATIONS ***************************************************************************************************ANIMATIONS**/
        
        @keyframes pulse {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0.6;
            }
            100% {
                opacity: 1;
            }
        }
        
        @keyframes pulse1 {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0.9;
            }
            100% {
                opacity: 1;
            }
        }