        /* || GENERAL *********************************************************************************************************GENERAL**/
        
        html,
        body {
            background: bisque;
            color: hotpink;
        }
        /* || SVG *****************************************************************************************************************SVG**/
        
        #lightSwitch {
            margin-left: 40px;
        }
        
        svg {
            position: fixed;
            display: inline-block;
            filter: url("#f1");
            overflow: visible;
            width: 100vw;
            height: 100vh;
        }
        /* || ANIMATIONS ***************************************************************************************************ANIMATIONS**/