@media screen and (min-width: 100px) {
    body {
        display: grid;
        grid-template-columns: [left] 80% [right] 20%;
        grid-template-rows: auto auto;
        row-gap: 5px;
        margin: 0px;
        padding: 0px;
        background-color: bisque;
    }

    #sitemast {
        grid-column: 1 / -1;
        font-family: 'Arial Narrow';
        font-size: 30px;
        text-align: center;
        color: rgb(5, 58, 20)
    }

    #first {
        background-color: coral;
    }

    #second {
        background-color: chocolate;
    }
}