    html {
        scroll-behavior: smooth;
        font-family: ArtDecoFont;
        color: white;
        background-color: black;
    }
    
    @font-face {
        font-family: ArtDecoFont;
        src: url(/assets/Semplicita/Semplicita\ Light.otf)
    }
    
    #cursor {
        position: relative;
        transform: translate(-50%, -50%);
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 2px solid white;
        z-index: 1;
    }
    
    #cursor:before {
        position: absolute;
        width: var(--size);
        height: var(--size);
        --size: 0;
        content: '';
        left: var(--x);
        top: var(--y);
        background: radial-gradient(circle closest-side, pink, hotpink);
        transition: width 0.2s ease, height 0.2s ease;
    }
    
    #cursor:hover:before {
        --size: 400px;
    }
    
    body {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
        cursor: crosshair;
    }
    
    .scroller {
        position: fixed;
        width: 1px;
        height: 100%;
        right: 25px;
    }
    
     ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    
    .mainGrid {
        position: relative;
        display: grid;
        grid-template-rows: 10px repeat(50, 100px);
        grid-template-columns: auto;
        margin: 0px 100px 0px 100px;
        z-index: 2;
    }
    
    .menuGrid {
        position: sticky;
        float: left;
        display: grid;
        grid-template-rows: repeat(4, 100px);
        grid-template-columns: repeat(3, 25px) repeat(4, 0px);
        top: 0;
        z-index: 2;
    }
    
    .menu {
        width: 400%;
        height: 23px;
        margin-left: 25px;
        padding: 1px 15px 0px 0px;
        transform: rotate(90deg);
        transform-origin: top left;
        border: 1px solid #fff;
        border-left: none;
        border-top-right-radius: 15px;
        text-align: right;
        transition: width ease-out 500ms;
        background-image: linear-gradient(to right, rgb(78, 73, 73), transparent);
    }
    
    .menu:hover {
        width: 450%;
    }
    
    #bHome {
        grid-area: 1 / 3 / span 1 / span 4;
    }
    
    #bContact {
        grid-area: 1 / 2 / span 1 / span 6;
    }
    
    #bWat {
        grid-area: 1 / 1 / span 1 / span 8;
    }
    
    .logo {
        grid-area: 2 / 1;
        width: 100%;
        text-align: center;
    }
    
    .startText {
        grid-area: 4 / 1 / span 10;
    }
    
    .contact {
        grid-area: 30 / 1;
        text-align: center;
    }