    body {        
        margin: 0px;
        padding: 0px;
        background-color: black;
    }

    ::-webkit-scrollbar{
        width: 10px;
    }

    .grid {
        display: grid;
        grid-template-columns: 25px 25px 25px auto 75px;
        grid-template-rows: auto;
    }

    .logo{
        grid-column: 4;
        grid-row: 2;
        text-align: center;       
    }

    .button {        
        height: 25px;  
        margin-left: 25px;
        transform: rotate(90deg);
        transform-origin: top left;
        border: 1px solid rgba(0, 0, 0);
        border-radius: 0px 15px 15px 0px; 
        color: black; 
        background-color: rgba(255, 255, 255, 0.432);
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;        
        text-align: right;
    }
    #Button1{
        grid-column: 1;
        grid-row: 1;
        width: 30em;
    }

    #Button2{
        grid-column: 2;
        grid-row: 1;
        width: 25em;
    }

    #Button3{
        grid-column: 3;
        grid-row: 1;
        width: 20em;
    }